<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Organizer by Abhilash Sreenivasa</title>
    {% load static %}
    <script src="{%static 'js/index.js' %}"></script>
    {% include "core/bootstrap.html" %}
    <link rel="stylesheet" href="{%static 'css/index.css' %}" />

  </head>
  <body>
    {% include "core/nav.html" %}
  <div class="container">
    <div class="jumbotron, margin">
      <h1 align="center">Abhilash Sreenivasa</h1>
      <hr>
    
      <div class="about">
        <img src="{%static 'pics/abhi_pic.PNG' %}" width="350px" height="350px"/> 
        <div class="about-text">
            <h2>About Me</h2>
            <p>Hey, I am Abhi, I really like playing ping pong and Soccer</p>
        </div>
    </div>
    </div>
  </div>
  <hr>
</body>
</html>
