<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Organizer by Abhilash Sreenivasa</title>
    {% load static %}
    <script src="{%static 'js/index.js' %}"></script>
    {% include "core/bootstrap.html" %}
    <link rel="stylesheet" href="{%static 'css/index.css' %}" />

    <script type="text/javascript">
      window.onload = function () {
        const ctx = document.getElementById("taskChart");
        const myChart = new Chart(ctx, {
          type: "doughnut",
          data: {
            labels: ["Incomplete", "Completed"],
            datasets: [
              {
                label: "My Task Summary",
                data: {{task_summary|safe}},
                backgroundColor: ["rgb(99, 2, 23)", "rgb(0, 13, 153)"],
                hoverOffset: 2,
              },
            ],
          },
        });

        const bctx = document.getElementById("budgetChart");
        const bChart = new Chart(bctx, {
          type: "bar",
          data: {
            labels: {{budget_labels|safe}},
            datasets: [
              {
                label: "Actual",
                data: {{budget_actual|safe}},
                backgroundColor: "rgb(0, 13, 153)",
                hoverOffset: 4,
              },
              {
                label: "Projected",
                data: {{budget_projected|safe}},
                backgroundColor: "rgb(99, 2, 23)",
                hoverOffset: 4,
              },
            ],
          },
        });
      };
    </script>
  </head>
</html>
<body>
  {% include "core/nav.html" %}

  <div class="container">
    {% if not table_data %}
  </p> No Tasks or budget data!</p>
    {% else %}
    <div class="row mt-5">
      <div class="col-md-3 col-lg-3 col-xl-3 sm-6">
        <canvas id="taskChart" width="200" height="200"></canvas>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 sm-6">
        <canvas id="budgetChart" width="200" height="200"></canvas>
      </div>
    </div>
    {% endif %}
  </div>
</body>
