<html>
  <head>
    {% include "util/bootstrap.html" %}
  </head>
  <body>
    <div class="container">
      <div class = "jumbotron">
        <h1>Update</h1>
        <form method="POST">{% csrf_token %}
            {{ update_form.as_table }}
            <tr>
              <td>
              <input type="submit" class="btn btn-primary" value = "Update"/>
            </td>
            <td>
              <a class="btn btn-warning" href="/myTickets/"> Cancel </a>
            </td>
          
          </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
