<nav class="navbar navbar-expand-md navbar-expand-lg navbar-light bg-dark" >
  <div class="nav-heading">
    <a class="navbar-brand" style="margin: 0" href="/"><i class="fa fa-bug" style="font-size:30px;color:red"></i> </a>
    <a class="navbar-brand" href="/" style="color:red;">Bugtracker</a>
  </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if user.role.role_id == '2' %}
        <li class="nav-item">
          <a class="nav-link" href="/allTickets/" style="color:white;">All Tickets</a>
        </li>
        {% endif %}
        
         {% if user.is_authenticated %}
         <li class="nav-item">
          <a class="nav-link" href="/myTickets/" style="color:white;">My Tickets</a>
        </li>
          <li>
            <a class="nav-link" href="/logout/" style="color:white;">Logout-> {{user.username}}</a>
          </li>
        {% else %}
          <li>
            <a class="nav-link" href="/login/" style="color:white;">Login</a>
          </li>
        {% endif %}
    
    </div>
  </nav>