<html>
  <head>
    <title>Add Budget Entry</title>
    {% load static %}
    <script src="{%static 'js/index.js' %}"></script>
    {% include "core/bootstrap.html" %}
    <link rel="stylesheet" href="{%static 'css/index.css' %}" />

  </head>
  <body>
    {% include "core/nav.html" %}
    <div class="container">
      <div class="jumbotron">
        <h1>Create Budget Entry</h1>
        <form method="POST">
          {% csrf_token %}
          <table>
            {{ budget_form.as_table }}
            <tr>
              <td>
                <a class="btn btn-warning" href="/budgets/"> Cancel </a>
              </td>
              <td>
                <button type="submit" class="btn btn-primary" value="">
                  Add Entry
                </button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
